spryk: template
description: 'Adds a new *module*DependencyProvider to the Yves application.'
mode: both
arguments:
    organization:
        inherit: true
        default: SprykerShop
    module:
        inherit: true
    application:
        value: Yves
    extends:
        callback: ResolveExtends
        value:
            - '\SprykerShop\{{ application }}\{{ module }}\{{ module }}DependencyProvider'
            - '\Spryker\{{ application }}\Kernel\AbstractBundleDependencyProvider'
    className:
        value: '{{ module }}DependencyProvider'
    template:
        value: Common/Class.php.twig
    targetFilename:
        value: '{{ module }}DependencyProvider.php'
    targetPath:
        value: 'src/{{ organization }}/Yves/{{ module }}/'
preSpryks:
    - AddModule
