name: AddImplements
spryk: addImplements
description: "Add implements interface notation to the target class."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    application:
        inherit: true

    target:
        description: "Target place where it should be added to."

    interface: ~
