name: AddDomainEntityValidator
spryk: template
description: "Adds a new Business model validator to the Zed application."
mode: both
level: 2

application: Zed
layer: Business

priority: 1

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    domainEntity:
        inherit: true

    type: # Defines the method name that gets created in the factory see below
        value: ""

    template:
        value: Zed/Business/Validation/DomainEntity/DomainEntityValidator.php.twig

    targetFilename:
        value: "{{ domainEntity }}{{ type }}Validator.php"

    subDirectory:
        value: "{{ domainEntity }}/Validator/"

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/Business/"

preSpryks:
    - AddModule

postSpryks:
    - AddDomainEntityValidatorRuleInterface
    - AddDomainEntityValidatorInterface
