spryk: wrapper
description: "Adds code to be able to receive a Glue request for a resource with a given HTTP method and to return a defined response."
mode: both
level: 2
application: Glue

priority: 1

arguments:
    module:
        description: "Based on the applicationType the module name will be suffixed with BackendApi or FrontendApi by the ResourceModuleName callback."
        inherit: true
        default: "{{ resource | normalizeResourceName }}"
        callback: GlueResourceModuleName

    zedModule: # dataModule
        inherit: true
        description: "The module name for the Zed Application. It's the same name as for the Glue Module but without the Api suffix."
        value: "{{ module | removeApiSuffix | singularize }}"

    organization:
        inherit: true
        default: Spryker

    application:
        inherit: true
        default: Glue

    apiType:
        inherit: true
        description: "Can be one of: REST or JSON"
        default: "JSON"

    applicationType:
        inherit: true
        description: "Can be one of: Backend or Frontend"
        default: "Backend"

    suite:
        value: "{{ applicationType }}Api"

    isBulk:
        description: "Defines if this resource should work with Collections. When set to true the method will use collections when possible."
        value: false

    resource:
        inherit: true
        description: "Defines the resource name this controller will work with e.g. /customers"

    httpMethod:
        description: "The HTTP method e.g. POST"
        callback: StringToLower

    httpResponseCode:
        description: "The HTTP response code e.g. 200 (OK)"

    controller:
        default: "{{ resource | normalizeResourceName }}ResourceController"

    zedDomainEntity:
        description: "Defines the domainEntity used on Zed side for the CRUD Facade. It will be used to create all needed Transfer Objects."
        default: "{{ resource | normalizeResourceName | singularize }}"

    resourceDataObject:
        description: "Defines the Transfer that will be used in the Controller. Do not use Transfer as suffix, it will be added automatically. Example: Customer (ok) CustomerTransfer (wrong)."
        default: "{{ resource | normalizeResourceName | singularize }}"

postSpryks:
#    - AddGlueBackendApiApplication
#    - AddGlueBackendApiRequestMapper
#    - AddGlueBackendApiResponseMapper
#    - AddGlueBackendApiResourcePlugin
#    # Add CrudFacade code
#    - AddCrudFacade:
#          condition: "applicationType === 'Backend'"
#          arguments:
#              module:
#                  value: "{{ zedModule }}"
#              domainEntity:
#                  value: "{{ zedDomainEntity | ucfirst }}"
#    # Add the dependency provider for the Facade when used as BackendApi
#    - AddDependencyTypeToDependencyProvider:
#          condition: "applicationType === 'Backend'"
#          arguments:
#              dependentModule:
#                  value: "{{ zedModule }}"
#              dependencyType:
#                  value: "Facade"
#
#    # Add bridge method to get an entity collection for the used facade when used as BackendApi
#    - AddDependencyBridgeMethod:
#          condition: "applicationType === 'Backend' && httpMethod === 'get'"
#          arguments:
#              dependentModule:
#                  value: "{{ zedModule }}"
#              dependencyType:
#                  value: "Facade"
#              methods:
#                  value:
#                      - "get{{ zedDomainEntity }}Collection"
#
#    # Add bridge method to get an entity collection for the used facade when used as BackendApi
#    - AddDependencyBridgeMethod:
#          condition: "applicationType === 'Backend' && httpMethod === 'post'"
#          arguments:
#              dependentModule:
#                  value: "{{ zedModule }}"
#              dependencyType:
#                  value: "Facade"
#              methods:
#                  value:
#                      - "create{{ zedDomainEntity }}Collection"
#
#    # Add bridge method to get an entity collection for the used facade when used as BackendApi
#    - AddDependencyBridgeMethod:
#          condition: "applicationType === 'Backend' && httpMethod === 'patch'"
#          arguments:
#              dependentModule:
#                  value: "{{ zedModule }}"
#              dependencyType:
#                  value: "Facade"
#              methods:
#                  value:
#                      - "update{{ zedDomainEntity }}Collection"
#
#    # Add bridge method to get an entity collection for the used facade when used as BackendApi
#    - AddDependencyBridgeMethod:
#          condition: "applicationType === 'Backend' && httpMethod === 'delete'"
#          arguments:
#              dependentModule:
#                  value: "{{ zedModule }}"
#              dependencyType:
#                  value: "Facade"
#              methods:
#                  value:
#                      - "delete{{ zedDomainEntity }}Collection"
#
#    - AddDependencyTypeToDependencyProvider:
#          condition: "applicationType === 'Frontend'"
#          arguments:
#              dependentModule:
#                  value: "{{ zedModule }}"
#              dependencyType:
#                  value: "Client"
#
#    # What are the client methods we would need to bridge??
#
#    # Add the controller method to handle the request
#    - AddGlueBackendApiControllerMethodGet:
#          condition: "applicationType === 'Backend' && httpMethod === 'get' && isBulk === false"
#    - AddGlueBackendApiControllerMethodGetCollection:
#          condition: "applicationType === 'Backend' && httpMethod === 'get' && isBulk === true"
#    - AddGlueBackendApiControllerMethodPost:
#          condition: "applicationType === 'Backend' && httpMethod === 'post'"
    - AddGlueBackendApiControllerMethodPatch:
          condition: "applicationType === 'Backend' && httpMethod === 'patch'"
#    - AddGlueBackendApiControllerMethodDelete:
#          condition: "applicationType === 'Backend' && httpMethod === 'delete' && isBulk === false"
#    - AddGlueBackendApiControllerMethodDeleteCollection:
#          condition: "applicationType === 'Backend' && httpMethod === 'delete' && isBulk === true"

#    # Add controller test method test<Resource><HTTPMethod>ReturnsHttpResponseCode<ResponseCode>
#    # The test controller is added by the AddGlueBackendApiControllerMethod* Spryks
#    - AddMethod:
#          arguments:
#              isBulk:
#                  inherit: true
#              method:
#                  description: "Method follows this pattern: test<Resource><HTTPMethod>(Collection)ReturnsHttpResponseCode<HTTPResponseCode>"
#                  value: "test{{ resource | normalizeResourceName | singularize | ucfirst }}{{ httpMethod | ucfirst }}{% if isBulk.value == true %}Collection{% endif %}ReturnsHttpResponseCode{{ httpResponseCode }}"
#              body:
#                  value: "$this->markTestIncomplete('Implement me!');"
#              target:
#                  value: "{{ organization }}Test\\Glue\\{{ module }}\\Controller\\{{ resource | normalizeResourceName }}{{ httpMethod | ucfirst }}{% if isBulk.value == true %}Collection{% endif %}ResourceControllerTest"
#              withInterface:
#                  value: false
#
#    # TestHelper class
#    - AddTestHelper:
#          arguments:
#              className:
#                  value: "{{ resource | normalizeResourceName | ucfirst }}Helper"
#
#    # TestHelper class method haveValid<Resource><HTTPMethod>(Collection)Uri
#    - AddMethod:
#          arguments:
#              isBulk:
#                  inherit: true
#              method:
#                  value: "haveValid{{ resource | normalizeResourceName | ucfirst }}{{ httpMethod | ucfirst }}{% if isBulk.value == true %}Collection{% endif %}Uri"
#              output:
#                  value: string
#              body:
#                  value: "throw new \\Exception(sprintf('%s::%s() not implemented.', __CLASS__, __METHOD__));"
#              target:
#                  value: "\\{{ organization }}Test\\{{ application }}\\{{ module }}\\Helper\\{{ resource | normalizeResourceName | ucfirst }}Helper"
#              withInterface:
#                  value: false
#
#    # TestHelper class method haveInvalid<Resource><HTTPMethod>(Collection)Uri
#    - AddMethod:
#          arguments:
#              isBulk:
#                  inherit: true
#              method:
#                  value: "haveInvalid{{ resource | normalizeResourceName | ucfirst }}{{ httpMethod | ucfirst }}{% if isBulk.value == true %}Collection{% endif %}Uri"
#              output:
#                  value: string
#              body:
#                  value: "throw new \\Exception(sprintf('%s::%s() not implemented.', __CLASS__, __METHOD__));"
#              target:
#                  value: "\\{{ organization }}Test\\{{ application }}\\{{ module }}\\Helper\\{{ resource | normalizeResourceName | ucfirst }}Helper"
#              withInterface:
#                  value: false
#    # TestHelper class method haveValid<Resource><HTTPMethod>(Collection)RequestData
#    - AddMethod:
#          arguments:
#              isBulk:
#                  inherit: true
#              method:
#                  value: "haveValid{{ resource | normalizeResourceName | ucfirst }}{{ httpMethod | ucfirst }}{% if isBulk.value == true %}Collection{% endif %}RequestData"
#              output:
#                  value: string
#              body:
#                  value: "throw new \\Exception(sprintf('%s::%s() not implemented.', __CLASS__, __METHOD__));"
#              target:
#                  value: "\\{{ organization }}Test\\{{ application }}\\{{ module }}\\Helper\\{{ resource | normalizeResourceName | ucfirst }}Helper"
#              withInterface:
#                  value: false
#    # TestHelper class method haveInvalid<Resource><HTTPMethod>(Collection)RequestData
#    - AddMethod:
#          arguments:
#              isBulk:
#                  inherit: true
#              method:
#                  value: "haveInvalid{{ resource | normalizeResourceName | ucfirst }}{{ httpMethod | ucfirst }}{% if isBulk.value == true %}Collection{% endif %}RequestData"
#              output:
#                  value: string
#              body:
#                  value: "throw new \\Exception(sprintf('%s::%s() not implemented.', __CLASS__, __METHOD__));"
#              target:
#                  value: "\\{{ organization }}Test\\{{ application }}\\{{ module }}\\Helper\\{{ resource | normalizeResourceName | ucfirst }}Helper"
#              withInterface:
#                  value: false
