name: AddZedDomainEntityInterface
spryk: template
description: "Adds a new DomainEntity related interface to the Zed application."
mode: both
level: 2
priority: 1

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    application:
        inherit: true
        default: Zed

    layer:
        inherit: true
        default: Business

    extends:
        inherit: true
        isMultiple: true
        isOptional: true

    subDirectory:
        inherit: true
        default: "Business/{{ className }}"

    className:
        inherit: true

    interfaceName:
        value: "{{ className }}Interface"

    template:
        value: Common/Interface.php.twig

    targetFilename:
        value: "{{ interfaceName }}.php"

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/"

preSpryks:
    - AddModule
