name: AddGlueValidation
spryk: template
description: "Adds a new *resourceType* Validation to the Glue application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Glue/Validation/AddGlueValidation.yml.twig

    resource:
        inherit: true

    targetFilename:
        value: "{{ resource }}.validation.yaml"

    targetPath:
        value: "src/{{ organization }}/Glue/{{ module }}/Validation/"

preSpryks:
    - AddModule
