spryk: template
description: 'Adds a new *Module*Service to the Service application.'
priority: 1
mode: both
level: 2
arguments:
    module:
        inherit: true
    organization:
        inherit: true
        default: Spryker
    application:
        value: Service
    extends:
        callback: ResolveExtends
        value:
            - '\Spryker\{{ application }}\{{ module }}\{{ module }}Service'
            - '\Spryker\{{ application }}\Kernel\AbstractService'
    className:
        value: '{{ module }}Service'
    implements:
        value: '\{{ organization }}\{{ application }}\{{ module }}\{{ module }}ServiceInterface'
    annotations:
        value:
            - '@method \{{ organization }}\{{ application }}\{{ module }}\{{ module }}Factory getFactory()'
    template:
        value: Common/Class.php.twig
    targetFilename:
        value: '{{ module }}Service.php'
    targetPath:
        value: 'src/{{ organization }}/Service/{{ module }}/'
preSpryks:
    - AddModule
postSpryks:
    - AddServiceDependencyProvider
    - AddServiceInterface
    - AddServiceFactory
