name: AddZedBusinessFacadeInterfaceMethod
spryk: method
description: "Adds a new method to the *module*FacadeInterface."
mode: both

arguments:
    allowOverride:
        default: false
        inherit: true

    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    specification:
        multiline: true
        inherit: true

    facadeMethod:
        inherit: true

    input:
        inherit: true
        isOptional: true
        isMultiple: true

    output:
        inherit: true
        isOptional: true

    annotations:
        value:
            - "@api"

    template:
        value: Common/InterfaceMethod.php.twig

    target:
        value: "{{ organization }}\\Zed\\{{ module }}\\Business\\{{ module }}FacadeInterface"

preSpryks:
    - AddZedBusinessFacadeInterface
