spryk: SchemaBehavior
description: 'Adds a Persistence schema to *module*.schema.xml in the Zed application.'
mode: both
arguments:
    module:
        inherit: true
    organization:
        inherit: true
        default: Spryker
    domainEntity:
        inherit: true
    name:
        inherit: true
    behaviorName: ~
    parameterNames:
        isMultiple: true
    parameterValues:
        isMultiple: true
    targetPath:
        value: 'src/{{ organization }}/Zed/{{ module }}/Persistence/Propel/Schema/spy_{{ module | underscored }}.schema.xml'
preSpryks:
    -
        AddZedPersistencePropelSchemaTable:
            arguments:
                tableName: 'spy_{{ domainEntity | underscored }}'
                targetModule: '{{ module | underscored }}'
