name: AddZedDependencyProvider
spryk: template
description: "Adds a new *module*DependencyProvider to the Zed application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    application:
        value: Zed

    extends:
        callback: ResolveExtends
        value:
            - "\\Spryker\\{{ application }}\\{{ module }}\\{{ module }}DependencyProvider"
            - "\\Spryker\\{{ application }}\\Kernel\\AbstractBundleDependencyProvider"

    className:
        value: "{{ module }}DependencyProvider"

    annotations:
        value:
            - "@method \\{{ organization }}\\{{ application }}\\{{ module }}\\{{ module }}Config getConfig()"

    template:
        value: Common/Class.php.twig

    targetFilename:
        value: "{{ module }}DependencyProvider.php"

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/"

preSpryks:
    - AddModule
