spryk: method
description: 'Adds a Client dependency method to the *module*BusinessFactory.'
mode: both
deprecated: 'Use AddDependencyBridgeMethod instead.'
arguments:
    module:
        inherit: true
        moduleFilter:
            application: Zed
    dependentModule:
        inherit: true
        moduleFilter:
            application: Client
    organization:
        inherit: true
        default: Spryker
    factoryMethod:
        value: 'get{{ dependentModule }}Client'
    template:
        value: Zed/Dependency/Client/ZedDependencyClientBusinessFactoryMethod.php.twig
    target:
        value: '{{ organization }}\Zed\{{ module }}\Business\{{ module }}BusinessFactory'
preSpryks:
    - AddZedBusinessFactory
postSpryks:
    -
        AddZedDependencyClientDependencyProviderConstant:
            arguments:
                name: 'CLIENT_{{ dependentModule | underscored | upper }}'
                value: 'CLIENT_{{ dependentModule | underscored | upper }}'
                visibility: public
