spryk: update-yml
description: 'Updates the *module* test configuration and adds a test helper.'
mode: both
arguments:
    module:
        inherit: true
    organization:
        inherit: true
        default: Spryker
    application:
        inherit: true
    suite:
        description: 'Only used for Zed application all others don''t have layers.'
        inherit: true
    helperClassName:
        description: 'The FQCN of the Helper.'
    afterElement:
        isOptional: true
    addToElement:
        value: 'suites.{{ suite }}.modules.enabled'
    targetPath:
        value: 'tests/{{ organization }}Test/{{ application}}/{{ module }}/codeception.yml'
    content:
        value: '{{ helperClassName }}'
preSpryks:
    - AddSuiteCodeceptionConfiguration
