spryk: copyModule
description: 'Copies a *module*.'
priority: 3
mode: core
level: 3
arguments:
    module:
        inherit: true
    organization:
        inherit: true
        default: Spryker
    toModule:
        inherit: true
    toOrganization:
        inherit: true
        default: Spryker
    sourcePath:
        default: '{{ organization | dasherize }}/{{ module | dasherize }}'
    targetPath:
        default: '{{ toOrganization | dasherize }}/{{ toModule | dasherize }}/'
postCommands:
    - ComposerReplaceGenerate
    - ComposerDumpAutoload
