spryk: template
description: 'Adds a new *module*CommunicationFactory to the Zed application.'
mode: both
level: 3
condition: 'application === ''Zed'' && layer === ''Communication'''
arguments:
    module:
        inherit: true
    organization:
        inherit: true
        default: Spryker
    application:
        value: Zed
    layer:
        inherit: false
        default: Communication
    extends:
        callback: ResolveExtends
        value:
            - '\Spryker\{{ application }}\{{ module }}\Communication\{{ module }}CommunicationFactory'
            - '\Spryker\{{ application }}\Kernel\Communication\AbstractCommunicationFactory'
    className:
        value: '{{ module }}CommunicationFactory'
    annotations:
        value:
            - '@method \{{ organization }}\{{ application }}\{{ module }}\{{ module }}Config getConfig()'
    template:
        value: Common/Class.php.twig
    subDirectory:
        value: Communication
    targetFilename:
        value: '{{ module }}CommunicationFactory.php'
    targetPath:
        value: 'src/{{ organization }}/Zed/{{ module }}/'
preSpryks:
    - AddModule
