name: AddZedPersistenceRepositoryMethod
spryk: method
description: "Adds a new method to the *module*Repository."
mode: both
level: 2

arguments:
    visibility:
        value: "public"

    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    repositoryMethod: ~
    input: ~
    output: ~

    template:
        value: Common/Method.php.twig

    target:
        value: "{{ organization }}\\Zed\\{{ module }}\\Persistence\\{{ module }}Repository"

preSpryks:
    - AddZedPersistenceRepository

postSpryks:
    - AddZedPersistenceRepositoryInterfaceMethod
