spryk: template
description: 'Adds a new *Module*Client to the Client application.'
priority: 1
mode: both
level: 2
arguments:
    module:
        inherit: true
    organization:
        inherit: true
        default: Spryker
    application:
        value: Client
    extends:
        callback: ResolveExtends
        value:
            - '\Spryker\{{ application }}\{{ module }}\{{ module }}Client'
            - '\Spryker\{{ application }}\Kernel\AbstractClient'
    className:
        value: '{{ module }}Client'
    implements:
        value: '\{{ organization }}\{{ application }}\{{ module }}\{{ module }}ClientInterface'
    annotations:
        value:
            - '@method \{{ organization }}\{{ application }}\{{ module }}\{{ module }}Factory getFactory()'
    template:
        value: Common/Class.php.twig
    targetFilename:
        value: '{{ module }}Client.php'
    targetPath:
        value: 'src/{{ organization }}/Client/{{ module }}/'
preSpryks:
    - AddModule
postSpryks:
    - AddClientDependencyProvider
    - AddClientInterface
    - AddClientFactory
