spryk: template
description: "Adds a new *Module*ClientFactory to the Client application."
mode: both
level: 3
condition: "application === 'Client'"

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    application:
        value: "Client"

    extends:
        callback: ResolveExtends
        value:
            - "\\Spryker\\{{ application }}\\{{ module }}\\{{ module }}Factory"
            - "\\Spryker\\{{ application }}\\Kernel\\AbstractFactory"

    className:
        value: "{{ module }}Factory"

    template:
        value: Common/Class.php.twig

    targetFilename:
        value: "{{ module }}Factory.php"

    targetPath:
        value: "src/{{ organization }}/Client/{{ module }}/"

preSpryks:
    - AddModule

