name: "Compile"

on:
    workflow_run:
        workflows: [CI]
        types: [completed]

    pull_request:
        types: [merged]

jobs:
    build:
        name: Build
        if: ${{github.event.pull_request.merged == true }} && ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: "ubuntu-latest"
        timeout-minutes: 60

        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                  coverage: "none"
                  php-version: "7.4"

            - name: Composer install
              run: composer install --no-interaction --no-progress

            - name: Build caches and compile the PHAR
              run: bin/console spryk:compile

            - uses: actions/upload-artifact@v3
              with:
                  name: phar-file
                  path: tmp/spryk.phar

            - name: Delete PHAR
              run: rm tmp/spryk.phar

    commit:
        name: Commit spryk.phar
        needs: build
        runs-on: "ubuntu-latest"
        timeout-minutes: 60
        steps:
            - uses: 8BitJonny/gh-get-current-pr@2.0.0
              id: PR
              with:
                  github-token: ${{ secrets.PAT }}
                  sha: ${{ github.event.pull_request.head.sha }}

            - name: Get PR details
              if: success() && steps.PR.outputs.number
              env:
                 prNumber: ${{ steps.PR.outputs.number }}
                 prJSON: ${{ steps.PR.outputs.pr }}
                 prBranchName: ${{fromJson(steps.PR.outputs.pr).head.ref}}
                 prTitle: ${{ steps.PR.outputs.pr_title }}
                 prBody: ${{ steps.PR.outputs.pr_body }}

            - name: "Checkout target repository"
              uses: actions/checkout@v3
              with:
                  token: ${{ secrets.PAT }}
                  repository: spryker-sdk/spryk
                  path: spryk-target
                  fetch-depth: 0

            - name: Download spryk.phar
              uses: actions/download-artifact@v3
              with:
                  name: phar-file

            - name: Copy phar from source to target
              run: mv spryk.phar spryk-target/spryk.phar

            - name: Create Pull Request
              id: cpr
              uses: peter-evans/create-pull-request@v4
              with:
                  token: ${{ secrets.PAT }}
                  path: spryk-target
                  branch: spryker-sdk/spryk-src/$prBranchName
                  delete-branch: true
                  title: PR $prNumber (spryker-sdk/spryk-src) spryk.phar update
                  body: ${{ steps.PR.outputs.pr_body }}

            - name: Check outputs
              if: ${{ steps.cpr.outputs.pull-request-number }}
              run: |
                  echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
                  echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
